*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #DDCCC8;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form__title{
    font-size: 24px;
    margin-bottom: 10px;
}

.form{
    width: 800px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;

    padding: 20px;

    background-color: #f2d9ae;
}

.form__input{
    display: flex;
    flex-direction: column;
}

.input{
    padding: 10px 10px;
    border: none;

    margin-bottom: 10px;
}

.form__btn{
    width: 100px;
    height: 50px;
    background-color: #3875e8;
    border: none;
    cursor: pointer;
    margin-top: 15px;

    color: white;
}

.task {
    width: 800px;
    padding: 20px;
    background-color: #bfc3c9;

    margin-top: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    font-size: 18px;
    color: white;
}

.task__control{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.checkbox{
    width: 32px;
    height: 32px;
}

.delite__task{
    width: 32px;
    height: 32px;
}



















